# Posttes 2

#### Import Library

In [45]:
import pandas as pd

#### Load Data CSV

In [46]:
data = pd.read_csv('MEN_SHOES.csv')

#### Tampilkan Data Men_Shoes

In [47]:
data

,Brand_Name,How_Many_Sold,Current_Price,Product_details,RATING
0,ASIAN,"2,242","₹1,098","Oxygen-01 Sports Running,Walking & Gym Shoes w...",3.8
1,ASIAN,240,₹674,"Men's Express-08 Sports Running,Walking,Gym,Tr...",4.0
2,ASIAN,"16,662",₹588,"Men's Cosko Sports Running,Walking,Gym,Trainin...",3.8
3,ASIAN,135,₹599,"Wind-03 Sports Running,Walking & Gym Shoes wit...",4.0
4,Reebok,240,₹982,Men's Velocity Runner Lp Running Shoe,4.0
...,...,...,...,...,...
23935,Campus,198,₹623,Men's HARVEL PRO Running Shoes,4.0
23936,Wakefield,49,₹399,Stylish Running Sports Shoes for MEN-2010,3.4
23937,URJO,557,₹839,Mens Running Shoes,4.2
23938,FEETEES,63,₹349,Nexon Men's Casual Eva Socks Knitted Running S...,3.6
23939,FURO,2,"₹1,299",Low Ankle Running Sports Shoes for Men (O-5033),3.0

#### Menampilkan Informasi data

Menampilkan variabel,dan type data

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23940 entries, 0 to 23939
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand_Name       23940 non-null  object
 1   How_Many_Sold    23940 non-null  object
 2   Current_Price    23142 non-null  object
 3   Product_details  23940 non-null  object
 4   RATING           23940 non-null  float64
dtypes: float64(1), object(4)
memory usage: 935.3+ KB

####  Menampilkan nilai rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3

In [49]:
data.describe()

             RATING
count  23940.000000
mean       3.836667
std        0.410686
min        2.400000
25%        3.600000
50%        4.000000
75%        4.000000
max        4.600000

In [60]:
for index, item in enumerate (data) :
    if str (item) == "float64" :
        data.append (data[index])
    print (data)

      Brand_Name How_Many_Sold Current_Price  \
0          ASIAN         2,242        ₹1,098
1          ASIAN           240          ₹674
2          ASIAN        16,662          ₹588
3          ASIAN           135          ₹599
4         Reebok           240          ₹982
...          ...           ...           ...
23935     Campus           198          ₹623
23936  Wakefield            49          ₹399
23937       URJO           557          ₹839
23938    FEETEES            63          ₹349
23939       FURO             2        ₹1,299

                                         Product_details  RATING
0      Oxygen-01 Sports Running,Walking & Gym Shoes w...     3.8
1      Men's Express-08 Sports Running,Walking,Gym,Tr...     4.0
2      Men's Cosko Sports Running,Walking,Gym,Trainin...     3.8
3      Wind-03 Sports Running,Walking & Gym Shoes wit...     4.0
4                Men's Velocity Runner Lp Running Shoe       4.0
...                                                  ...     ...
23935                   Men's HARVEL PRO Running Shoes       4.0
23936        Stylish Running Sports Shoes for MEN-2010       3.4
23937                               Mens Running Shoes       4.2
23938  Nexon Men's Casual Eva Socks Knitted Running S...     3.6
23939  Low Ankle Running Sports Shoes for Men (O-5033)       3.0

[23940 rows x 5 columns]
      Brand_Name How_Many_Sold Current_Price  \
0          ASIAN         2,242        ₹1,098
1          ASIAN           240          ₹674
2          ASIAN        16,662          ₹588
3          ASIAN           135          ₹599
4         Reebok           240          ₹982
...          ...           ...           ...
23935     Campus           198          ₹623
23936  Wakefield            49          ₹399
23937       URJO           557          ₹839
23938    FEETEES            63          ₹349
23939       FURO             2        ₹1,299

                                         Product_details  RATING
0      Oxygen-01 Sports Running,Walking & Gym Shoes w...     3.8
1      Men's Express-08 Sports Running,Walking,Gym,Tr...     4.0
2      Men's Cosko Sports Running,Walking,Gym,Trainin...     3.8
3      Wind-03 Sports Running,Walking & Gym Shoes wit...     4.0
4                Men's Velocity Runner Lp Running Shoe       4.0
...                                                  ...     ...
23935                   Men's HARVEL PRO Running Shoes       4.0
23936        Stylish Running Sports Shoes for MEN-2010       3.4
23937                               Mens Running Shoes       4.2
23938  Nexon Men's Casual Eva Socks Knitted Running S...     3.6
23939  Low Ankle Running Sports Shoes for Men (O-5033)       3.0

[23940 rows x 5 columns]
      Brand_Name How_Many_Sold Current_Price  \
0          ASIAN         2,242        ₹1,098
1          ASIAN           240          ₹674
2          ASIAN        16,662          ₹588
3          ASIAN           135          ₹599
4         Reebok           240          ₹982
...          ...           ...           ...
23935     Campus           198          ₹623
23936  Wakefield            49          ₹399
23937       URJO           557          ₹839
23938    FEETEES            63          ₹349
23939       FURO             2        ₹1,299

                                         Product_details  RATING
0      Oxygen-01 Sports Running,Walking & Gym Shoes w...     3.8
1      Men's Express-08 Sports Running,Walking,Gym,Tr...     4.0
2      Men's Cosko Sports Running,Walking,Gym,Trainin...     3.8
3      Wind-03 Sports Running,Walking & Gym Shoes wit...     4.0
4                Men's Velocity Runner Lp Running Shoe       4.0
...                                                  ...     ...
23935                   Men's HARVEL PRO Running Shoes       4.0
23936        Stylish Running Sports Shoes for MEN-2010       3.4
23937                               Mens Running Shoes       4.2
23938  Nexon Men's Casual Eva Socks Knitted Running S...     3.6
23939  Low Ankle Running Sports Shoes for Men (O-5033)       3.0

[23940 rows x 5 columns]
      Brand_Name How_Many_Sold Current_Price  \
0          ASIAN         2,242        ₹1,098
1          ASIAN           240          ₹674
2          ASIAN        16,662          ₹588
3          ASIAN           135          ₹599
4         Reebok           240          ₹982
...          ...           ...           ...
23935     Campus           198          ₹623
23936  Wakefield            49          ₹399
23937       URJO           557          ₹839
23938    FEETEES            63          ₹349
23939       FURO             2        ₹1,299

                                         Product_details  RATING
0      Oxygen-01 Sports Running,Walking & Gym Shoes w...     3.8
1      Men's Express-08 Sports Running,Walking,Gym,Tr...     4.0
2      Men's Cosko Sports Running,Walking,Gym,Trainin...     3.8
3      Wind-03 Sports Running,Walking & Gym Shoes wit...     4.0
4                Men's Velocity Runner Lp Running Shoe       4.0
...                                                  ...     ...
23935                   Men's HARVEL PRO Running Shoes       4.0
23936        Stylish Running Sports Shoes for MEN-2010       3.4
23937                               Mens Running Shoes       4.2
23938  Nexon Men's Casual Eva Socks Knitted Running S...     3.6
23939  Low Ankle Running Sports Shoes for Men (O-5033)       3.0

[23940 rows x 5 columns]
      Brand_Name How_Many_Sold Current_Price  \
0          ASIAN         2,242        ₹1,098
1          ASIAN           240          ₹674
2          ASIAN        16,662          ₹588
3          ASIAN           135          ₹599
4         Reebok           240          ₹982
...          ...           ...           ...
23935     Campus           198          ₹623
23936  Wakefield            49          ₹399
23937       URJO           557          ₹839
23938    FEETEES            63          ₹349
23939       FURO             2        ₹1,299

                                         Product_details  RATING
0      Oxygen-01 Sports Running,Walking & Gym Shoes w...     3.8
1      Men's Express-08 Sports Running,Walking,Gym,Tr...     4.0
2      Men's Cosko Sports Running,Walking,Gym,Trainin...     3.8
3      Wind-03 Sports Running,Walking & Gym Shoes wit...     4.0
4                Men's Velocity Runner Lp Running Shoe       4.0
...                                                  ...     ...
23935                   Men's HARVEL PRO Running Shoes       4.0
23936        Stylish Running Sports Shoes for MEN-2010       3.4
23937                               Mens Running Shoes       4.2
23938  Nexon Men's Casual Eva Socks Knitted Running S...     3.6
23939  Low Ankle Running Sports Shoes for Men (O-5033)       3.0

[23940 rows x 5 columns]

In [51]:
listt = data
for index, item in enumerate (listt) :
    print (f"{index}. {item}")

0. Brand_Name
1. How_Many_Sold
2. Current_Price
3. Product_details
4. RATING

#### merubah desimal menjadi bulat

In [52]:
listt["RATING"].head(10) /0.1

0    38.0
1    40.0
2    38.0
3    40.0
4    40.0
5    46.0
6    40.0
7    24.0
8    40.0
9    36.0
Name: RATING, dtype: float64

#### menampilkan 10 record bertype data angka

In [53]:
listt["RATING"].head(10)

0    3.8
1    4.0
2    3.8
3    4.0
4    4.0
5    4.6
6    4.0
7    2.4
8    4.0
9    3.6
Name: RATING, dtype: float64

#### menyimpan variabel yang bertype angka ke dalam csv dan diberi nama "hasil.csv"

In [54]:
df= listt[["RATING"]].copy()

In [55]:
df.to_csv("Hasil.csv")