DEEP LEARNING

In [1]:
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
import tensorflow.keras.datasets as tfds
import pandas as pd
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [10]:
df = pd.read_csv('shades.csv')
df.head()

,brand,brand_short,product,product_short,hex,H,S,V,L,group
0,Maybelline,mb,Fit Me,fmf,f3cfb3,26.0,0.26,0.95,86,2
1,Maybelline,mb,Fit Me,fmf,ffe3c2,32.0,0.24,1.00,92,2
2,Maybelline,mb,Fit Me,fmf,ffe0cd,23.0,0.20,1.00,91,2
3,Maybelline,mb,Fit Me,fmf,ffd3be,19.0,0.25,1.00,88,2
4,Maybelline,mb,Fit Me,fmf,bd9584,18.0,0.30,0.74,65,2

In [11]:
(x_train,y_train),(x_test,y_test) = tfds.mnist.load_data()

In [15]:
X = df[['brand', 'brand_short', 'product', 'product_short', 'hex', 'H', 'S',
       'V', 'L']]
Y = df['group']

In [16]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state=0, test_size=.2)

In [17]:
num_class = 10
y_train = tf.keras.utils.to_categorical(y_train, num_class)
y_test = tf.keras.utils.to_categorical(y_test, num_class)

In [19]:
x_test.shape

(125, 9)

In [ ]:
x_train = tf.reshape(x_train, [500, 9])
x_test = tf.reshape(x_test, [125, 9])

In [24]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu', input_dim=4),
    tf.keras.layers.Dense(num_class, activation='softmax')
])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 10)                50

 dense_3 (Dense)             (None, 9)                 99

=================================================================
Total params: 149
Trainable params: 149
Non-trainable params: 0
_________________________________________________________________

In [25]:
model.compile(
    optimizer=tf.keras.optimizers.Adam(),
    loss=tf.keras.losses.categorical_crossentropy,
    metrics=['accuracy']
)

In [ ]:
history = model.fit(
    x = x_train,y =  y_train,
    epochs = 10, 
    steps_per_epoch = 25,
    validation_data=(x_test, y_test)
)

In [29]:
plt.figure(1, figsize=(5,5))
plt.plot(range(len(history.history['accuracy'])), 
         history.history['accuracy'],
         label='training')
plt.plot(range(len(history.history['val_accuracy'])), 
         history.history['val_accuracy'],
         label='validation')
plt.legend()
plt.show()

NameError: ignored