Gunakan salah satu tipe pendekatan pada supervised learning
Gunakan minimal 2 algoritma untuk dibandingkan score terbaiknya
Tampilkan score dari model untuk clasifikasi dan tampilkan visualisasi model untuk regresi

In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [34]:
df = pd.read_csv("MEN_SHOES.csv")
df

,Brand_Name,How_Many_Sold,Current_Price,Product_details,RATING
0,ASIAN,"2,242","₹1,098","Oxygen-01 Sports Running,Walking & Gym Shoes w...",3.8
1,ASIAN,240,₹674,"Men's Express-08 Sports Running,Walking,Gym,Tr...",4.0
2,ASIAN,"16,662",₹588,"Men's Cosko Sports Running,Walking,Gym,Trainin...",3.8
3,ASIAN,135,₹599,"Wind-03 Sports Running,Walking & Gym Shoes wit...",4.0
4,Reebok,240,₹982,Men's Velocity Runner Lp Running Shoe,4.0
...,...,...,...,...,...
23935,Campus,198,₹623,Men's HARVEL PRO Running Shoes,4.0
23936,Wakefield,49,₹399,Stylish Running Sports Shoes for MEN-2010,3.4
23937,URJO,557,₹839,Mens Running Shoes,4.2
23938,FEETEES,63,₹349,Nexon Men's Casual Eva Socks Knitted Running S...,3.6
23939,FURO,2,"₹1,299",Low Ankle Running Sports Shoes for Men (O-5033),3.0

In [5]:
df2 = pd.read_csv("shades.csv")
df2

,brand,brand_short,product,product_short,hex,H,S,V,L,group
0,Maybelline,mb,Fit Me,fmf,f3cfb3,26.0,0.26,0.95,86,2
1,Maybelline,mb,Fit Me,fmf,ffe3c2,32.0,0.24,1.00,92,2
2,Maybelline,mb,Fit Me,fmf,ffe0cd,23.0,0.20,1.00,91,2
3,Maybelline,mb,Fit Me,fmf,ffd3be,19.0,0.25,1.00,88,2
4,Maybelline,mb,Fit Me,fmf,bd9584,18.0,0.30,0.74,65,2
...,...,...,...,...,...,...,...,...,...,...
620,L'Oréal,lo,True Match,tms,eecfba,24.0,0.22,0.93,85,7
621,L'Oréal,lo,True Match,tms,e8c7b8,19.0,0.21,0.91,83,7
622,L'Oréal,lo,True Match,tms,f0cbb9,20.0,0.23,0.94,85,7
623,L'Oréal,lo,True Match,tms,e9c4b1,20.0,0.24,0.91,82,7
624,L'Oréal,lo,True Match,tms,eabea1,24.0,0.31,0.92,80,7

In [6]:
df3 = pd.read_csv("wine.csv")
df3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,grade
0,7.4,0.70,0.00,1.9,0.076,11.0,34,0.9978,3.51,0.56,9.4,5,MEDIUM
1,7.8,0.88,0.00,2.6,0.098,25.0,67,0.9968,3.20,0.68,9.8,5,MEDIUM
2,7.8,0.76,0.04,2.3,0.092,15.0,54,0.9970,3.26,0.65,9.8,5,MEDIUM
3,11.2,0.28,0.56,1.9,0.075,17.0,60,0.9980,3.16,0.58,9.8,6,MEDIUM
4,7.4,0.70,0.00,1.9,0.076,11.0,34,0.9978,3.51,0.56,9.4,5,MEDIUM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,10.7,0.35,0.53,2.6,0.070,5.0,16,0.9972,3.15,0.65,11.0,8,HIGH
496,7.8,0.52,0.25,1.9,0.081,14.0,38,0.9984,3.43,0.65,9.0,6,MEDIUM
497,7.2,0.34,0.32,2.5,0.090,43.0,113,0.9966,3.32,0.79,11.1,5,MEDIUM
498,10.7,0.35,0.53,2.6,0.070,5.0,16,0.9972,3.15,0.65,11.0,8,HIGH
499,8.7,0.69,0.31,3.0,0.086,23.0,81,1.0002,3.48,0.74,11.6,6,MEDIUM

DATA CLEANING

In [7]:
dataset_cl1 = df.copy()
dataset_cl2 = df2.copy()
dataset_cl3 = df3.copy()

In [8]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

MODUS

In [11]:
dataset_cl2['H'] = imputer_modus.fit_transform(dataset_cl2[['H']])

dataset_cl2.isna().sum()

brand             0
brand_short       0
product           0
product_short     0
hex               0
H                 0
S                12
V                12
L                 0
group             0
dtype: int64

MEAN

In [13]:
dataset_cl2['V'] = imputer_mean.fit_transform(dataset_cl2[['V']])

dataset_cl2.isna().sum()

brand            0
brand_short      0
product          0
product_short    0
hex              0
H                0
S                0
V                0
L                0
group            0
dtype: int64

DELETE

In [14]:
dataset_cl2.dropna(inplace=True)

dataset_cl2.isna().sum()

brand            0
brand_short      0
product          0
product_short    0
hex              0
H                0
S                0
V                0
L                0
group            0
dtype: int64

DUPLIKAT

In [15]:
dataset_duplicate = df2.copy()

dataset_duplicate.duplicated().sum()

4

In [16]:
dataset_duplicate.drop_duplicates(inplace=True)

dataset_duplicate.duplicated().sum()

0

In [17]:

dataset_cl2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 625 entries, 0 to 624
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   brand          625 non-null    object
 1   brand_short    625 non-null    object
 2   product        625 non-null    object
 3   product_short  625 non-null    object
 4   hex            625 non-null    object
 5   H              625 non-null    float64
 6   S              625 non-null    float64
 7   V              625 non-null    float64
 8   L              625 non-null    int64
 9   group          625 non-null    int64
dtypes: float64(3), int64(2), object(5)
memory usage: 53.7+ KB

In [18]:
dataset_cl2.head()

,brand,brand_short,product,product_short,hex,H,S,V,L,group
0,Maybelline,mb,Fit Me,fmf,f3cfb3,26.0,0.26,0.95,86,2
1,Maybelline,mb,Fit Me,fmf,ffe3c2,32.0,0.24,1.00,92,2
2,Maybelline,mb,Fit Me,fmf,ffe0cd,23.0,0.20,1.00,91,2
3,Maybelline,mb,Fit Me,fmf,ffd3be,19.0,0.25,1.00,88,2
4,Maybelline,mb,Fit Me,fmf,bd9584,18.0,0.30,0.74,65,2

KNN

In [19]:
x = dataset_cl2[['H','S','V','L']]
y = dataset_cl2['group']

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0, test_size=.2)

In [21]:
classifier = KNeighborsClassifier(n_neighbors = 5)

In [22]:
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [23]:
predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [24]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: [6 2 2 0 2 4 0 2 2 2 7 3 5 0 5 2 2 1 2 6 3 4 6 2 2 5 3 0 0 0 2 3 6 4 4 2 3
 5 4 2 0 0 0 7 3 1 2 6 2 2 2 2 2 1 6 3 3 0 1 3 4 5 5 2 7 4 4 2 3 2 6 2 1 2
 4 2 2 1 2 2 2 4 3 4 5 0 2 2 3 6 0 4 2 7 4 1 2 3 2 3 2 6 4 3 2 2 6 7 2 3 0
 3 4 2 3 3 2 7 4 1 2 4 4 2 7]
Class: 356    4
299    4
425    1
313    4
429    1
      ..
466    5
343    4
362    4
75     2
10     2
Name: group, Length: 125, dtype: int64
akurasi: 0.28

In [25]:
classifier.score(x_test,y_test)

0.28

NAIVE BAYES

In [27]:
x = dataset_cl2[['H','S','V','L']]
y = dataset_cl2['group']

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1, shuffle=False, stratify=None)

In [29]:
classifier = GaussianNB()

In [30]:
classifier.fit(x_train,y_train)

GaussianNB()

In [31]:
predicted_value = classifier.predict(x_test)
accuracy = accuracy_score(y_test, predicted_value)

In [32]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {y_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: [6]
Class: 624    7
Name: group, dtype: int64
akurasi: 0.0

In [33]:
classifier.score(x_test,y_test)

0.0